/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
}

// style UI elements inside atom-text-editor
atom-text-editor .cursor {
  // border-color: red;
}


// ------------------------------------
// window 背景插图配置
// ------------------------------------
@randomNumber: 'http://img.3dmgame.com/uploads/allimg/170710/316-1FG0140Q7.jpg';
// @randomNumber: 'http://img.zcool.cn/community/01574c57a97f660000012e7ec2bec6.jpg';
// @randomNumber: 'http://gss0.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/0b55b319ebc4b74527c710d7c8fc1e178b82159b.jpg';
// @randomNumber: 'http://gss0.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/03087bf40ad162d9565329b112dfa9ec8b13cdda.jpg';
// @randomNumber: 'http://gss0.baidu.com/-Po3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/6a600c338744ebf8a962c990d9f9d72a6059a70a.jpg';
// @randomNumber: 'http://gss0.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/962bd40735fae6cd0e2af23b0db30f2443a70fc9.jpg';
// @randomNumber: 'http://images.ali213.net/picfile/pic/2014/04/03/927_20140403165013546.jpg';

// https://w.wallhaven.cc/full/lm/wallhaven-lmxmxy.png
// https://w.wallhaven.cc/full/ym/wallhaven-ymojgd.jpg
// http://pic.netbian.com/uploads/allimg/200627/004758-15931900782589.jpg
// https://w.wallhaven.cc/full/dg/wallhaven-dgzj9o.jpg
// http://pic.netbian.com/uploads/allimg/200604/001248-15912007687f52.jpg
// http://pic.netbian.com/uploads/allimg/190419/213206-1555680726dbf2.jpg

//< 动图
// https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1594557186699&di=986428f87dfe92309bde8ef74d410552&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F4%2F5851fbd47cd7c.jpg // 艾斯
// https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1594557186696&di=c3ff1aa676f2f972c53d0fb6d7a8f0b8&imgtype=0&src=http%3A%2F%2Fimg.mp.itc.cn%2Fupload%2F20170411%2F5e37b50659684a0ead62b45342f08150_th.gif // 城市
/*

.scroll-view::after{
  content: "";
  position: absolute;
  // position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  // background:url(@randomNumber);
  background:url(@randomNumber) no-repeat bottom center;
  // background: @randomNumber;
  // background-size:100%;
  background-size:contain;
  z-index: -1;
}

.editor {
  background: rgba(10, 10, 10, .8);
  // background: rgba(203,237, 204, .8);
}
*/

// ------------------------------------
// atom-clock 颜色设置
// ------------------------------------
.atom-clock-icon {
  color: cyan;
}

.atom-clock-time {
  color: pink;
}

// ------------------------------------
// relative-numbers 颜色设置
// ------------------------------------
atom-text-editor.editor .relative.current-line {
  // color: purple
}

.symbols-tree-nav {
  // li.list-item {
    // .custom-macro { color: cyan; }
    // .custom-member { color: purple; }
    // .custom-method { color: #61afef; }
    // .custom-function {} // default from Syntax Theme
    // .icon-variable { color: red }
    // .custom-variable { color: yellow; }
  // }
}
